<a href="https://colab.research.google.com/github/aryan1429/Big-Data/blob/main/Cassandra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd

In [4]:
data = {
    "id" : [1,2,3,4],
    "name" : ["Aryan","Alejandro","Aligeti","Supremo"],
    "age" : [21,22,23,24],
    "city" : ["HYD","KOL","DEL","MUM"]
}

In [5]:
df = pd.DataFrame(data)
print("Initial Table \n",df)

Initial Table
    id       name  age city
0   1      Aryan   21  HYD
1   2  Alejandro   22  KOL
2   3    Aligeti   23  DEL
3   4    Supremo   24  MUM

In [20]:
#Create(Insert)
new_row = pd.DataFrame({
    "id" : [5],
    "name" : ["Aryan"],
    "age" : [21],
    "city" : ["Phil"]
})

df = pd.concat([df,new_row], ignore_index=True)
print("After Insert\n",df)

After Insert
    id       name  age  city
0   2  Alejandro   69   KOL
1   3    Aligeti   23   DEL
2   4    Supremo   24   MUM
3   5      Aryan   21  Phil
4   5      Aryan   21  Phil

In [10]:
#Read
row = df[df["id"] == 2]
print(row)

   id       name  age city
1   2  Alejandro   22  KOL

In [11]:
#Update
df.loc[df["id"] == 2, "age"] = 69
print(df)

   id       name  age  city
0   1      Aryan   21   HYD
1   2  Alejandro   69   KOL
2   3    Aligeti   23   DEL
3   4    Supremo   24   MUM
4   5      Aryan   21  Phil

In [16]:
#delete
df = df[df["id"] != 1]
print(df)

   id       name  age  city
1   2  Alejandro   69   KOL
2   3    Aligeti   23   DEL
3   4    Supremo   24   MUM
4   5      Aryan   21  Phil

In [18]:
#data analysis
avg_age = df["age"].mean()
print("Average Age:",avg_age)

Average Age: 34.25

In [19]:
count_by_city = df["city"].value_counts()
print(count_by_city)

city
KOL     1
DEL     1
MUM     1
Phil    1
Name: count, dtype: int64