<a href="https://colab.research.google.com/github/aryan1429/Big-Data/blob/main/hbase.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
#Create
hbase_table = {}

In [12]:
row_key = "row1"

In [13]:
hbase_table[row_key] = {
    "name" : "Aryan",
    "age" : 69,
    "city" : "hyd"
}

In [14]:
print("After Insert",hbase_table)

After Insert {'row1': {'name': 'Aryan', 'age': 69, 'city': 'hyd'}}

In [15]:
#Read
row = hbase_table.get(row_key)
print("Read Row",row)

Read Row {'name': 'Aryan', 'age': 69, 'city': 'hyd'}

In [17]:
#Update
hbase_table[row_key]["age"] = 21
print("Ater Update",hbase_table)

Ater Update {'row1': {'name': 'Aryan', 'age': 21, 'city': 'hyd'}}

In [18]:
#Delete
del hbase_table[row_key]
print("After Delete:",hbase_table)

After Delete: {}